/* PRIMARY    : #f17841 */
/* MIDNIGHT  : #1a1e29 */
/* DARK      : #2a313b */
/* LIGHT     : #b2b2b2 */
.primary {
  background-color: #f17841;
}

.midnight {
  background-color: #1a1e29;
}

.dark {
  background-color: #2a313b;
}

.light {
  background-color: #b2b2b2;
}

.nospace {
  margin: 0;
  padding: 0;
}

.navbar-item {
  color: white;
}

.navbar-start .navbar-item:hover {
  background: #2a313b !important;
  color: white !important;
}

.main-carousel {
  width: 100%;
  height: 50%;
}

.carousel-cell {
  width: 100%;
}

.carousel-cell img {
  display: block;
  margin: auto;
}